{% extends 'base.html' %}
{% load static %}

{% block title %} Best Shape | Log In {% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static '/shapes/css/login.css' %}">
{% endblock %}
    
{% block main %}
    <main>
        <form id="login-form">
            {% csrf_token %}
            <h2 class="form-title"><i class="fas fa-user"></i> Log In</h2>
            <div id="form-errors"></div>

            <label for="">Username</label>
            <input id="id_username" class="form-control" name="username" type="text" required>

            <label for="">Password</label>
            <input id="id_password" class="form-control" name="password" type="password" required> <br>

            <div class="flex-evenly-center">
                <button id="login-btn" class="btn hoverable">Log In</button>
                <button id="no-account-btn" class="btn hoverable">No account?</button>
            </div>
        </form>
    </main>
{% endblock %}
{% block footer%}{% endblock %}

{% block script %}
    <script src="{% static '/shapes/js/login.js' %}"></script>
    <script>
        const noAccBtn = document.querySelector('#no-account-btn');
        noAccBtn.addEventListener('click', () => {
            window.location.href = '/register/';
        })
    </script>
{% endblock %}