@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

@import 'colors';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: $backgroundColor;
}

.title {
    font-family: 'Righteous', cursive;
    color: $theme-color-1;
    text-shadow: $theme-color-1-dark 3px 3px;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-evenly-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.spinning {
    animation: spinning 1s ease infinite;
    background: transparent;
}

@keyframes spinning {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}

header {
    
    img {
        width: 10rem;
        padding: 1rem;
    }

    h1 {
        font-size: 4rem;
    }
}

.form-title {
    background: $theme-color-1-dark;
    color: white;
    padding: 1rem;
}

form {
    width: 30rem;
    margin: auto;

    font-family: 'Roboto', sans-serif;
    color: $theme-color-1-dark;
    font-size: 1.2rem;

    input {
        margin-bottom: 1rem;
    }

    button {
        margin-top: 1rem;
        width: 40%;
        color: white !important;
        background-color: $theme-color-1 !important;
        box-shadow: $theme-color-1-dark 3px 3px;
    }
}

div#form-errors {
    color: red;
}